GOOGLE = {
        'host': 'smtp.gmail.com',
        'port': '587'
}
MAILRU = {
        'host': 'smtp.mail.ru',
        'port': '25' # А НЕ 465!!! MAIL.RU, ЧТО ЗА ДЕЛА?!
}
YANDEX = {
        'host': 'smtp.yandex.ru',
        'port': '465'
}

HOST = GOOGLE['host']
PORT = GOOGLE['port']

send_from = 'kek1@gmail.com'
send_to = ['kek2@gmail.com', 'kek3@gmail.com']
subject_mail = 'Your IP address'

user = 'kek1@gmail.com'
password = 'k3kk3kk3k'

text_of_mail = """Hello!
I've sent this mail because you're need my IP.
My IP address is %myip%
Good Luck!
"""

"""
Для отправки писем можно использовать любой имеющийся у пользователя почтовый ящик.
Настройки каждого почтового провайдера открыто предоставляются каждым из них:
Gmail — https://support.google.com/mail/answer/7126229?hl=ru
Mail.ru — https://help.mail.ru/mail-help/mailer/popsmtp
Yandex — https://yandex.ru/support/mail-new/mail-clients.html
"""
